In [4]:
import requests
import pandas as pd
import time

# Define the base URL for the SWAR API
def scrape_teams(ps=False):
    base_url = "https://api.pbpstats.com/get-totals/nba"
    stype="Regular Season"
    carry=""
    if ps == True:
        stype="Playoffs"
        carry="ps"
    
    # Set up parameters
    params = {
        "SeasonType": stype,
        "Season": "",  # This will be dynamically filled for each season
        "Type": "Team",
    }
    
    # Define the range of seasons you want data for
    start_season = 2024  # Example start season
    end_season = 2024  # Example end season
    
    # Empty list to collect all data
    all_data = []
    
    # Loop through each season to fetch possessions data
    for season in range(start_season, end_season + 1):
        params["Season"] = f"{season}-{str(season + 1)[-2:]}"
        
        
        # Make a request to the API
        response = requests.get(base_url, params=params)
        data = response.json()
        
        # Process each team in the season
        df=pd.DataFrame(data['multi_row_table_data'])
        df['season']=season
        df['year']=season+1
        print(season+1)
        time.sleep(2)
        all_data.append(df)
    
    # Convert collected data into a DataFrame
    df = pd.concat(all_data)

    for team_id in df['TeamId'].unique().tolist():
        teamdf=df[df['TeamId']==team_id]
        olddf=pd.read_csv(team_id+carry+'.csv')

        new_years = teamdf['year'].unique().tolist()
        olddf=olddf[~olddf.year.isin(new_years)]
        teamdf=pd.concat([olddf,teamdf])
        teamdf.to_csv(team_id+carry+".csv",index=False)

# Display a sample of the data
scrape_teams(ps=False)

2025

In [10]:
import os
import glob

# List all .csv files in the current directory
csv_files = glob.glob(os.path.join(os.getcwd(), "*.csv"))

all_files =[file for file in csv_files if 'ps' not in file]

df=pd.concat([pd.read_csv(file) for file in all_files])

In [11]:
years=df.year.unique.tolist()
for year in years:
    yeardf=df[df.year==year]
    yeardf.to_csv(str(year)+'.csv',index=False)

,EntityId,TeamId,Name,ShortName,RowId,TeamAbbreviation,SecondsPlayed,GamesPlayed,PlusMinus,OffPoss,...,year,StepOutOfBoundsTurnovers,Loose Ball Fouls Drawn,NonShootingPenaltyNonTakeFoulsDrawn,BlockingFouls,Charge Fouls,Charge Fouls Drawn,BlockingFoulsDrawn,Transition Take Fouls,Transition Take Fouls Drawn
0,1610612756,1610612756,PHX,PHX,1610612756,PHX,237660.0,82.0,181.0,7705.0,...,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1610612756,1610612756,PHX,PHX,1610612756,PHX,237960.0,82.0,-56.0,7579.0,...,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1610612756,1610612756,PHX,PHX,1610612756,PHX,237660.0,82.0,93.0,7561.0,...,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1610612756,1610612756,PHX,PHX,1610612756,PHX,236760.0,82.0,-307.0,7631.0,...,2004,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1610612756,1610612756,PHX,PHX,1610612756,PHX,237360.0,82.0,584.0,7944.0,...,2005,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,1610612755,1610612755,PHI,PHI,1610612755,PHI,209160.0,72.0,402.0,7179.0,...,2021,31.0,77.0,155.0,NaN,39.0,27.0,NaN,NaN,NaN
21,1610612755,1610612755,PHI,PHI,1610612755,PHI,237660.0,82.0,214.0,7893.0,...,2022,28.0,66.0,137.0,NaN,51.0,22.0,NaN,NaN,NaN
22,1610612755,1610612755,PHI,PHI,1610612755,PHI,238560.0,82.0,354.0,7960.0,...,2023,26.0,66.0,121.0,NaN,58.0,42.0,NaN,8.0,3.0
23,1610612755,1610612755,PHI,PHI,1610612755,PHI,237360.0,82.0,250.0,8013.0,...,2024,30.0,84.0,99.0,NaN,43.0,27.0,NaN,5.0,8.0
24,1610612755,1610612755,PHI,PHI,1610612755,PHI,23340.0,8.0,-70.0,784.0,...,2025,2.0,11.0,19.0,NaN,4.0,4.0,NaN,NaN,1.0